@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Roboto, Verdana, sans-serif;
}

button {
    padding: 8px 16px;
    border-radius: 5px;
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 0 200px;

    display: flex;
    flex-direction: column;

    border: 2px solid black;
}

.header {
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border: 2px solid black;
}

.navbar > ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

.navbar > li > a {
    text-decoration: none;
}

.heading {
    display: flex;
    /* for the image to schrink --> stretch is the default */
    align-items: flex-start;
    gap: 36px;
}

.title {
    display: flex;
    flex-direction: column;
}

.title > h1 {
    font-size: 36px;
    margin-bottom: 12px;
}

.title > p {
    margin-bottom: 12px;
}

.title > button {
    align-self: flex-start;
}

.heading img {
    display: block;
    max-width: 100%;
    height: auto;
}

.main {
    flex: 1;
    border: 2px solid black;
}

.main h2 {
    text-align: center;
    margin: 24px 0;
}

.panels {
    display: flex;
    justify-content: center;
    gap: 36px;
}

.panel {
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
}

.panel-image {
    width: 100%;
    height: 150px;
    border: 5px solid black;
    border-radius: 15px;
}

.quote {
    font-size: 21px;
    margin: 10px 0;
    padding: 50px 180px; 
}

.quote > p {
    text-align: right;
    margin-top: 18px;
}

.action {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    border: 2px solid black;
}

.action > .text {

}

.footer {
    text-align: center;
    padding: 50px 0;
}
