@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Roboto, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

button {
    padding: 8px 32px;
    border-radius: 5px;
    background-color: #3882F6;
    border: none;
}

.main-text {
    color: #F9FAF8;
}

.secondary-text {
    color: #E5E7EB;
}

.header,
.footer {
    background-color: #1F2937;
}

.header {
    padding-bottom: 36px;
}

.navbar,
.heading,
.action {
    max-width: 80%;
    margin: 0 auto;
}

.navbar {
    margin-bottom: 20px;
}

.logo {
    font-size: 24px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.navbar > ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
}

.heading {
    display: flex;
    /* for the image to schrink --> stretch is the default */
    align-items: flex-start;
    gap: 50px;
}

.title {
    display: flex;
    flex-direction: column;
}

.title > h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 12px;
}

.title > p {
    margin-bottom: 12px;
}

.title > button {
    align-self: flex-start;
}

.heading img {
    display: block;
    max-width: 100%;
    height: auto;
}

.main {
    flex: 1;
}

.info h2 {
    text-align: center;
    margin: 24px 0;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.panels {
    display: flex;
    justify-content: center;
    gap: 36px;
}

.panel {
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
    margin-bottom: 72px;
}

.panel-image {
    width: 100%;
    height: 150px;
    border: 5px solid black;
    border-radius: 15px;
}

.quote {
    margin: 10px 0;
    padding: 50px 300px; 
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    background-color: #E5E7EB;
    margin-bottom: 80px;
}

.quote > p {
    margin-top: 36px;
    text-align: right;
    font-style: normal;
    font-size: 24px;
}

.action {
    border-radius: 8px;
    margin-bottom: 80px;
    padding: 32px 96px;
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
}

.action > .text > .bold {
    font-weight: bold;
}

.action > button {
    border: 1px solid #F9FAF8;
}

.footer {
    text-align: center;
    padding: 50px 0;
}
